html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    background-color: rgb(76, 179, 150);
}
.container{
    max-width: 960px;
    display: flex;
    background-color: #aeaeae;
    margin: auto;
    justify-content: space-between;
    box-shadow: 1px 1px 10px rgb(40, 94, 78)
}
.profile{
    flex-basis: 35%;
    background-color: #39383a;
    color: #ababab;
    
}
.profile-photo{
    height: 230px;
    background-image: url('https://pp.userapi.com/c847018/v847018453/bc352/gmrXqaMELmY.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.profile-text{
    font-family: Roboto;
    font-size: 13px;
    line-height: 24.19px;
    margin-bottom: 50px;
}
.profile-info{
    padding: 50px 30px 70px 30px;
}
.heading-light{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 16px;
    color: #fff;
    border-bottom: 2px #5a5a5a dashed;
}
.contacts{
    margin-bottom: 70px;
}
.contacts-title{
    margin-bottom: 12px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}
i.fas {
    margin-right: 12px;
}
.contacts-item{
    padding-bottom: 25px;
    border-bottom: 2px #5a5a5a dashed;
}
.contacts-text{
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #ababab;
    margin-left: 30px;
    text-decoration: none;
    font-style: normal;
}
.language{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
.languages:nth-child(3){
    margin-bottom: 0;
}
.languages{
    margin-right: 30px;
    margin-bottom: 30px;
    height: 100px;
    width: 100px;
    border: 6px solid #5c5c5c;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.language-text{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #ababab;
    font-size: 11px;
    text-transform: uppercase;
}
.lenguage-per{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 20.97px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}
.lines{
    padding-top: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.line{
    margin-bottom: 21px;
    display: block;
    background-color: #5c5c5c;
    height: 2px;
    width: 91px;
}
.line:nth-child(2){
    margin-left: 15px;
    width: 100px;
}
.resume{
    flex-basis: 62%;
    padding: 23px 26px;
    background-color: #fff;
}
.resume-wrap{
    padding: 35px 55px;
    min-height: 100%;
    border: 1px solid rgba(168, 168, 168, 0.44);
}
.logo{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}
.logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 1px solid #39383a;
}
i.fas.fa-anchor{
    margin: 0;
    font-size: 40px;
}
.logo-lines{
    justify-content: center;
    align-items: center; 
    display: flex;
    flex-direction: column;
}
.logo-line{
    margin-bottom: 17px;
    width: 43px;
    height: 2px;
    background-color: #39383a;
}
.logo-line:nth-child(3){
    margin-bottom: 0;
}
.logo-right .logo-line:nth-child(2){
    width: 55px;
    margin-left: 25px;
}
.logo-left .logo-line:nth-child(2){
    width: 55px;
    margin-right: 25px;
}
.about{
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(168, 168, 168, 0.44);
    text-align: center;
}
.name{
    color: #39383a;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 15.75px;
}
.position{
    margin-top: 15px;
    margin-bottom: 30px;
    color: #808080;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.72px;
}
.about-address{
    color: #39383a;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.83px;
    font-style: normal;
    margin-bottom: 15px;
}
.about-contacts{
    color: #39383a;
    font-family: Roboto;
    font-size: 12px;
}
.about-links{
    color: #39383a;
    text-decoration: none;
}
.expirience{
    margin-top: 30px;
}
.heading-dark{
    margin: 0;
    color: #39383a;
    font-family: "Open Sans";
    text-transform: uppercase;
    letter-spacing: 1.04px;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(168, 168, 168, 0.44);
}
.resume-info{
    padding: 0;
    position: relative;
}
.info-wrap{
    border-bottom: 2px #ececec dashed;
}
.info-wrap:before{
    position: absolute;
    content: ' ';
    top: 6px;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: #39383a;
}
.resume-header-info{
    margin: 20px 0 10px 40px;
    color: #39383a;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
}
.resume-header-date{
    margin-left: 40px;
    margin-bottom: 20px;
    color: #39383a;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.68px;
}
.resume-info-text{
    margin-left: 40px;
    margin-bottom: 11px;
    color: #777777;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.38px;
    
}
.none-border{
    border: none;
}
.heading-skills{
    margin-bottom: 25px;
}
.skills-list{
    list-style: none;
    padding: 0;
}
.skill{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    color: #39383a;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.73px;
}
.level{
    width: 75%;
    height: 10px;
    border: 1px solid #39383a;
    position: relative;
    top: 3px;
}
.level:before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    background-color: #898989;
}
.level80:before{
    width: 80%;
}
.level90:before{
    width: 90%;
}
.level50:before{
    width: 50%;
}
@media (max-width: 1024px){
    .container{
        width: 90%;
    }
}
@media (max-width: 992px){
    .container{
        flex-direction: column;
    }
    .language{
        padding-left: 30px; 
        justify-content: center;
    }
    .line, .line:nth-child(2){
        display: none;
    }
    .profile-photo{
        height: 400px;
    }
}
@media (max-width: 768px){
    
}
@media (max-width: 567px){
    .logo-line{
        width: 20px;
    }
    .logo-right .logo-line:nth-child(2){
        width: 32px;
    }
    .logo-left .logo-line:nth-child(2){
        width: 32px;
    }
    .level{
        width: 60%;
    }
    .logo-img{
        height: 50px;
        width: 50px;
    }
    i.fas.fa-anchor{
        font-size: 20px;
    }
}
@media (max-width: 480px){
    .logo-line, .logo-right .logo-line:nth-child(2), .logo-left .logo-line:nth-child(2){
        display: none;
    }
    .level{
        width: 50%;
    }
    .logo-img{
        height: 30px;
        width: 30px;
    }
    i.fas.fa-anchor{
        font-size: 15px;
    }
}/**/